.personal {
    display: flex;
}


.user-img {
    width: 20%;
    display: flex;
}

.personal {
    padding: 50px 0;

}

.container-personal {
    width: 1200px;
    margin: 0 auto;
}

.personal-info-user {
    width: 100%;
    display: flex;

    margin-left: 30px;
    background-color: #fff;
    padding: 30px;
}

.user-img img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.zs {
    margin-left: 10px;
}

.personal-name {
    font-size: 16px;

}

.zs span {
    display: inline-block;
    margin-top: 10px;
    color: #888;
}

.zs span svg {
    margin-right: 5px;
    color: #888;
}

.personal-user-title {
    border-bottom: 0.0625rem solid #efefef;
    padding: 1.125rem 0;
}

.personal-user-title h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #333;
}

.personal-user-title p {
    margin-top: 0.1875rem;
    font-size: 1rem;
    line-height: 1.0625rem;
    color: #555;
}

.personal-table {
    margin-top: 30px;
}

.we {
    text-align: right;
    color: rgba(85, 85, 85, .8);
    overflow: hidden;
    padding-bottom: 30px;
    white-space: nowrap;
    min-width: 20%;
}

.qa {
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 30px;
}

.sz {
    margin-right: 10px;
}

.personal-from {
    width: 100%;
}

.pz {
    border: 0;
    outline: none;
    background: none;
    color: #05a;
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
}

.from-st-info {
    padding: 30px;
    margin-left: 20px;
    border-left: 0.0625rem solid #efefef;
}

.btn-set-info1 {
    display: flex;
    flex-direction: column;
}

.from-st-info h3 {
    margin-bottom: 20px;
}

.btn-set-info1 input {
    padding: 10px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-set-info {
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
}